doctype html
html
	head
		title Acquaint SoftTech Singup/Login using NodeJs, MongoDb
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
		
	body

		block content
		block scripts